# Pandas

In [6]:
import pandas as pd
import numpy as np

In [7]:
pd.Series([1,2,3,"sina",0, np.nan , -3])

0       1
1       2
2       3
3    sina
4       0
5     NaN
6      -3
dtype: object

In [8]:
dates = pd.date_range("20210101" , periods = 6)
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df = pd.DataFrame (np.random.randn(6,4), index = dates , columns = ["A","B","C","D"])
df

                   A         B         C         D
2021-01-01  1.201676 -0.426923  0.538545  0.467683
2021-01-02  0.194889  0.002474  1.531005 -1.795358
2021-01-03  1.216040  2.015854 -1.703653  0.397997
2021-01-04 -0.991491  0.421758 -0.675205  0.652539
2021-01-05 -0.349413  0.312251 -0.761223 -0.847394
2021-01-06  0.634623 -0.129424  2.467432 -0.928581

In [10]:
df["A"]

2021-01-01   -1.411325
2021-01-02    3.151519
2021-01-03    0.713305
2021-01-04    2.329278
2021-01-05    2.416864
2021-01-06    0.440952
Freq: D, Name: A, dtype: float64

## فقط دو خط آخر
یا برای خط اول از
### head
استفاده میکنیم
برای آخر خط از 
### tail
استفاده میکنیم
-حتما باید از پرانتز برای نشان دادن تعداد خط استفاده کنیم
### مثال

In [11]:
print(df.tail(2))
print()
print(df.head(3))

                   A         B         C         D
2021-01-05  2.416864  0.165259  0.082635 -2.265710
2021-01-06  0.440952  0.560601  0.391727  1.197631

                   A         B         C         D
2021-01-01 -1.411325  0.040853  2.126453  0.925648
2021-01-02  3.151519  1.487307 -0.991927  0.884805
2021-01-03  0.713305  0.411392 -0.594499  0.427948

# توضیح دادن داده ها
## describe()
بخش های مختلف داده را مانند ماکسیمم و مینیمم و غیره تشریح میکند
### مثال

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   1.273432  0.306067  0.223530  0.407128
std    1.683101  0.754954  1.079484  1.342773
min   -1.411325 -0.829010 -0.991927 -2.265710
25%    0.509040  0.071954 -0.425216  0.542162
50%    1.521291  0.288325  0.204714  0.905227
75%    2.394968  0.523298  0.375494  1.129635
max    3.151519  1.487307  2.126453  1.272444

# بخشی از توضیحات داده ها
### مثلا نشان دادن فقط مینیمم
## مثال

In [13]:
df.mean()

A    1.273432
B    0.306067
C    0.223530
D    0.407128
dtype: float64

### فقط خط 0 تا 2

In [14]:
df[0:2]

                   A         B         C         D
2021-01-01 -1.411325  0.040853  2.126453  0.925648
2021-01-02  3.151519  1.487307 -0.991927  0.884805

### جا به جا کردن سطر و سطون

In [15]:
df.T

   2021-01-01  2021-01-02  2021-01-03  2021-01-04  2021-01-05  2021-01-06
A   -1.411325    3.151519    0.713305    2.329278    2.416864    0.440952
B    0.040853    1.487307    0.411392   -0.829010    0.165259    0.560601
C    2.126453   -0.991927   -0.594499    0.326793    0.082635    0.391727
D    0.925648    0.884805    0.427948    1.272444   -2.265710    1.197631

# مرتب کردن
### Bمرتب کردن بر اساس مقدار در ستون 
## مثال

In [16]:
df.sort_values(by="B")

                   A         B         C         D
2021-01-04  2.329278 -0.829010  0.326793  1.272444
2021-01-01 -1.411325  0.040853  2.126453  0.925648
2021-01-05  2.416864  0.165259  0.082635 -2.265710
2021-01-03  0.713305  0.411392 -0.594499  0.427948
2021-01-06  0.440952  0.560601  0.391727  1.197631
2021-01-02  3.151519  1.487307 -0.991927  0.884805

### جایی که بزرگتر از صفر است A>0

In [17]:
df[df["A"]>0]

                   A         B         C         D
2021-01-02  3.151519  1.487307 -0.991927  0.884805
2021-01-03  0.713305  0.411392 -0.594499  0.427948
2021-01-04  2.329278 -0.829010  0.326793  1.272444
2021-01-05  2.416864  0.165259  0.082635 -2.265710
2021-01-06  0.440952  0.560601  0.391727  1.197631

# read and write operation
# خواندن اطلاعات از فایل
### مثال
خواندن اطلاعات از فایل 

myfile.csv
فایل پسوند csv دارد

اطلاعات را از فایل بالا میخواند و در

df
ذخیره میکند

In [19]:
df.read_csv("myfile.csv")

AttributeError: 'DataFrame' object has no attribute 'read_csv'

# نوشتن اطلاعات در فایل

In [27]:
df.to_excel("/tmp/mycsv.xlsx")

OSError: Cannot save file into a non-existent directory: '\tmp'

In [32]:
df.to_csv("/tmp/mycsv.csv")

OSError: Cannot save file into a non-existent directory: '\tmp'

In [30]:
a = np.array
a.to_excel("/tmp/myxl.xlsx")

AttributeError: 'int' object has no attribute 'to_excel'

                   A         B         C         D
2021-01-01  1.201676 -0.426923  0.538545  0.467683
2021-01-02  0.194889  0.002474  1.531005 -1.795358
2021-01-03  1.216040  2.015854 -1.703653  0.397997
2021-01-04 -0.991491  0.421758 -0.675205  0.652539
2021-01-05 -0.349413  0.312251 -0.761223 -0.847394
2021-01-06  0.634623 -0.129424  2.467432 -0.928581